.botonCantidad {
  padding: 10rem 0 0 1rem;
  margin: 0;
  overflow: hidden;
}

.botonMas {
  width: 15%;
}
.botonMenos {
  width: 15%;
}
.botonReset {
  width: 35%;
}
.botonAgregar {
  width: 85%;
  background-color: white;
}