

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* MAIN */
main {
  border-radius: 3rem;
}

.botonAdd {
  margin-top: 3rem;
  padding-top: 0;
  width: 80%;
  max-width: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.tituloMain {
  font-size: large;
}


/* PRODUCTOS */


.botonCantidad {
  overflow: hidden;
  font-size: small;
}

.titleCant {
  font-size: 2rem;
}




.nav {
  justify-content: right;
  margin: 0;
  padding-right: 0;
  margin-top: 50%;
  margin-right: 0rem;
  width: 100%;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.productos {
  padding-top: 3rem;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
}


.item {
border-radius: 1rem;
justify-content: center;
width: 20rem;
height: 20rem;
background-color: #cc9;
border: 3px solid green;
}

.item_selected {
  border: 5px solid red;
}
